/* add your CSS here */
body {
	font-family: 'Exo 2', sans-serif;
}

div {
	border: 1px solid grey;
}

body > div {
	width: 340px;
	/* Card background color */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+65,72aa00+100,9ecb2d+100 */
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 65%, #72aa00 100%, #9ecb2d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 65%,#72aa00 100%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 65%,#72aa00 100%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
	/* Centering the card */
	margin-left: auto;
  	margin-right: auto;
}

h3 {
	text-align: center;
	font-size: 1.50rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

img {
	width: 300px;
	margin-left: 20px;
}

#facts {
	width: 300px;
    margin-left: 20px;
    margin-bottom: 15px;
    background-color: rgba(228, 244, 173, 0.75);
    font-size: 0.9rem;
}

img, #facts {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
	border-radius: 1%;
}

p {
	text-align: justify;
}

ul {
	list-style-type: none;
}

p, ul {
	padding-left: 10px;
	padding-right: 10px;
}

p:first-child {
	font-style: italic;
}

span {
	font-weight: bold;
}

a {
	text-decoration: none;
}

#photocredit {
	font-size: 0.8rem;
	text-align: center;
	margin-top: 0px;
	padding: 0px;
}